
html, body {
    margin: 0;
    padding: 0;
  }

.contact_form{  
    display: flex;
    width: 460px; 
    height: auto;
    margin: 80px auto;
    margin-top: 150px;
    border-radius: 10px;  
    background-color: #fbfbfb;  
    padding: 10px; 
}


input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color:#288678; 
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #288678; 
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
    float: center;  
}


button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;     
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #37b5a3; 
    border-color:  #37b5a3; 
    border-style: solid; 
    border-radius: 10px;    
    width: 420px;   
  cursor: pointer;
}


button p{
    color: #fff; 
}



.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
}


h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    
}


h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
}


p{
    font-size: 14px; 
    color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
    outline:0;
    background-color: #c9f4ec;
    
}


.formulario textarea:focus{
    outline:0;
    background-color: #c9f4ec;
    
}

footer p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}