

:root {
    --primary-color: #37b5a3;
    --secondary-color: #c9f4ec;
    --text-color: #ede1c0;
    
    }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Monsterrat', sans-serif;
    background-color: #98ebe1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
   
}

.logo {
    height: 80px;
    width: 80px;
    padding: 0, 2rem, 0, 0;
    align-self: center;
    margin: 0.5rem;
    float: left;
    transition: transform 458ms ease-out 152ms;
}
    

.logo:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
    -webkit-transform: translate(0px, 0px) scale(1.1, 1.1);
    -moz-transform: translate(0px, 0px) scale(1.1, 1.1);
    -ms-transform: translate(0px, 0px) scale(1.1, 1.1);
    -o-transform: translate(0px, 0px) scale(1.1, 1.1);
}
.header_div {
    position: relative;
    display: block;
    justify-content: space-between;
    align-content: space-between;
    position: fixed;
    padding: 1px ;
    background:linear-gradient(to right, #c9f4ec, #37b5a3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius:0.5rem   ;
    z-index: 100;
    width: 100%;
    -webkit-border-radius:0.5rem   ;
    -moz-border-radius:0.5rem   ;
    -ms-border-radius:0.5rem   ;
    -o-border-radius:0.5rem   ;
}



.menu_nav {
    display: flex;
    float: right;
   justify-content: center;
    align-items: center;
    margin-top: 0vh;
    margin: 0;
    padding: 0.5rem;
    margin-right: 1rem;
    
    
}

.menu_nav li {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0.5rem;
    justify-content: center;
}
.hamburger {
    display: none;
    cursor: pointer;
    float: right;
    font-size: 40px;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #1c3f2f;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: transform 99ms ease-out 125ms;
    -webkit-transition: transform 99ms ease-out 125ms;
    -moz-transition: transform 99ms ease-out 125ms;
    -ms-transition: transform 99ms ease-out 125ms;
    -o-transition: transform 99ms ease-out 125ms;
}
 .hamburger:hover {
    color: #37b5a3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #c9f4ec;
    transition: transform 99ms ease-out 125ms;
    -webkit-transition: transform 99ms ease-out 125ms;
    -moz-transition: transform 99ms ease-out 125ms;
    -ms-transition: transform 99ms ease-out 125ms;
    -o-transition: transform 99ms ease-out 125ms;
 }
@media screen and (max-width: 790px) { 
    .menu_nav li a {
         display: none;
    }
}

#menu-toggle {
    display: none; /* Oculta el checkbox */
  }
  
  .hamburger {
    display: none;
  }
  
  
  
  @media (max-width: 790px) {
    .hamburger {
      display: block;
    }
  
    .menu_nav {
      display: none;
    }
  
    #menu-toggle:checked ~ .menu_nav {
      display: block;
    }
  }

.menu_nav li a {
  display: flex;
  text-decoration: none;
  color: #1c3f2f;
  padding: 0.5rem;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  margin-left: 0.5rem;
  justify-content: center;
  transition: transform 99ms ease-out 125ms;
  -webkit-transition: transform 99ms ease-out 125ms;
  -moz-transition: transform 99ms ease-out 125ms;
  -ms-transition: transform 99ms ease-out 125ms;
  -o-transition: transform 99ms ease-out 125ms;
} 
.menu_nav li a:hover {
    color: #37b5a3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #c9f4ec;
    transition: transform 99ms ease-out 125ms;
    -webkit-transition: transform 99ms ease-out 125ms;
    -moz-transition: transform 99ms ease-out 125ms;
    -ms-transition: transform 99ms ease-out 125ms;
    -o-transition: transform 99ms ease-out 125ms;
}
.menu_nav li a i {
    margin-right: 0.5rem;
    font-size: 20px;
    color: #1c3f2f;
    opacity: 0.8;
}

.barner 
    {
      position: relative;
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .titulos {
        display:inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        opacity: 80%;
        color:  white;
        animation: typing 2s steps(40), blink .5s step-end infinite alternate;
        -webkit-animation: typing 2s steps(40), blink .5s step-end infinite alternate;
        
}
    @keyframes typing {
        from {
            width: 0;
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
    .barner h1 {
        height: 10px;
        font-size: 50px;
        text-align: center;
        font-weight: 800;
        mix-blend-mode: overlay;
        
}

.main {
    display: flex;
    gap: 1px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: linear-gradient(to right, #c9f4ec, #37b5a3);
    padding: 1rem;
    margin: 5px;
    border-radius: 0.5rem;

}

.contenido {
    flex-grow: 1;
    display: flex;
    justify-content: center;align-items: start;
    padding: 1rem;
    background-color: var(--secondary-color);
    margin: 5px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* !Estilos del footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    margin: 5px;
    background-color: #333;
    color: #fff;
  }

  .footer i {
    color: #fff;
    margin: 0 1em;
  }
  
    .footer i:hover {
        color: #37b5a3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .div-1, .footer .div-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        margin: 1px;
      }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        margin: 1rem;
    }

    footer .div-1 a {
        color: #fff;
        margin: 0 1em;
        text-decoration: none;
    }

    .footer .social-media a {
        display: inline-block;
        margin: 0 5px;
      }